html{
    scroll-behavior: smooth;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
    
}
.row{
    width: 100%;

    
}
.row::after{
    clear: both;
    display: table;
    content: '';
}
[class*="col-"]{
    float: left;
    padding: 15px;

}
[class*="col-"]{
    width: 100%;
    
}
.container{
    max-width: 1500px;
    margin: auto;
    /* font-family: 'Handlee', cursive; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */

}
/* header start */
header{
    background-color: #24a19c;
    padding: 0% 1%;
    text-align: center;
    display: block;

}
.logo{
    width: 70px;
    height: 70px;
    text-align: center;
    margin:15px;
    padding: 6px;
    line-height: 70px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}
ul{
    list-style: none;
}
.nav ul li{
    display: block;
    
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    line-height: 70px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s;
}
nav ul li a:hover{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
/* header end */

/* banner start */
#banner-section{
    background-image: url("restaurant01.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-contents{
    padding: 50px 10px;
    text-align: center;

}
.banner-contents h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background-color: rgba(255,255,0,0.56);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Handlee', cursive;
}
.banner-contents p{
    width: 400px;
    margin: 15px auto;
    background-color: rgba(0,128,0,0.5);
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}
.btn{
    width: 160px;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: green;
    transition: .4s;
}
.btn:hover{
    transform: scale(1.2);
}


/* banner end */

/* about us start  */
#about-us{
    padding: 1%;
}
.about-us-contents h3{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
}
.about-us-contents p{
    margin: 1px 20px;
    font-size: 0.8rem;
    
}
.about-us-contents{
    text-align: justify;
}
/* about us end */

/* food menu start  */
#menu-section{
    padding: 1%;
    
}
.card-body{
    text-align: center;
    
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.item-desc{
    background-color: rgb(165,164,164);
    
}
.item-name{
    background-color: green;
    color: white;
    padding: 10px;

}
.item-desc > p{
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;

}
.card{
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.1);
}
/* food menu end */

/* contact section start */
#contact{
    padding: 1%;
    background-color: #595b83;
    width: auto;
}

.contact-details{
    color: white;
    text-align: justify;
    padding: 20px 0;
    float: right;
    margin: 5px 0;
    padding: 5px 0;
    

}
.map{
    width: 100%;
    height: 250px;

}
.contact-details p, address{
    font-size: 0.8rem;
}


 /* contact section end */
 footer{
     padding: 1%;
     color: white;
     background-color: #060930;
 }
 footer p{
     line-height: 32px;
     font-size: 0.8rem;
     text-align: center;

 }
 .social-menu{
     text-align: center;

 }
 .icon-style{
     color: white;
     width: 32px;
     height: 32px;
     line-height: 32px;
     border-radius: 50%;
     border: 1px solid white;
     padding: 7px;
     margin: 5px;
     transition: .4s;
     text-align: center;
 }
 .icon-style:hover{
     background-color: white;
     transform: scale(1.3);
 }




/* Small devices*/
@media (min-width: 576px) { 
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
    img.cm{
        height: 250px;
        width: 100%;
    }
    
    }
/* medium devices*/
@media (min-width: 768px) { 
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    img.cm{
        height: 200px;
        width: 100%;
    }
    footer p{
        text-align: left;
    }
    .social-menu{
        text-align: right;
    }
    .logo-div{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a:hover{
        background-color: transparent;
        transform: scale(1.2);
        text-decoration: underline;
        border-radius: 0;
    }
    
    }

    /* large devices */
@media (min-width: 992px) { 
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
    img.cm{
        box-sizing: border-box;
        height: 200px;
        width: 100%;
    }
    .logo-div{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a:hover{
        background-color: transparent;
        transform: scale(1.2);
        text-decoration: underline;
        border-radius: 0;
    }
    #banner-section{
        position: relative;
        height: 100vh;
    }
    .banner-contents{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .banner-contents h1{
        width: 700px;
        font-size: 3.5rem;
    }
    .banner-contents p{
        width: 500px;
        font-size: 2rem;
    }
    footer p{
        text-align: left;
    }
    .social-menu{
        text-align: right;
    }
    }